<section class="hero is-fullheight" style="background-image: url('https://cdn.pixabay.com/photo/2020/05/03/19/09/nike-5126389_1280.jpg')">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2 has-text-white">
        Welcome To The Sneaker community
      </h1>
      <h2 class="subtitle is-3 has-text-white">
        Let's Share!
      </h2>
    </div>
  </div>
</section>