<p>トップページ</p>
<div class="sneaker content">
  <h2 class='title'>投稿一覧</h2>
    <%# <div class="subtitle" >
      最新順
    </div> %>
    <ul class='sneaker-lists'>
      <% @sneakers.each do |sneaker| %>
      <li class='list'>
        <%= link_to sneaker_path(sneaker.id) do %> 
        <div class='sneaker-info'>
          <h3 class='sneaker-title'>
            <%= sneaker.title %>
          </h3>
        </div>
        <div class='sneaker-img-content'>
          <%= image_tag sneaker.image, class: "sneaker-img" %>
        </div>
        <% end %>  
      </li>
      <% end %>